[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{*.gson,*.gradle,*.groovy,*.gdsl,*.gy,*.gant}]
indent_size=2

[{*.yaml,*.yml}]
indent_size=2

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.bat]
end_of_line=crlf
indent_style = tab

[*.{js,ts}]
trim_trailing_whitespace = false
max_line_length = 120